[submodule "VEngine/vendor/spdlog"]
	path = VEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "VEngine/vendor/GLFW"]
	path = VEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "VEngine/vendor/imgui"]
	path = VEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
